body {
	  background-color: #efefef;
	}
	body {
		  background-color: #efefef;
		  font-size: 14px;
		  color: #333;
		  margin: 0;
		}
		
		h1,h2,h3,h4,h5 {
		  margin: 0 0 10px 0;
		  padding: 0;
		}
		
		header {
			  margin-top: 20px;
			}
			
			.container {
			  width: 920px;
			  margin: 0 auto 40px auto;
			}
			
			.header-title-area {
			  margin-top: 40px;
			  margin-bottom: 30px;
			}
			
			.logo {
			  font-size: 32px;
			}
			.text-sub {
			  color: #777;
			}
			margin-top: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
			margin-left: 10px;
			.container {
				  width: 920px;
				  margin: 0 auto 40px auto;
				}
				.title {
					  color: rgba(255, 0, 0, 0.8) /* RGBA */
					}
					.title {
					  color: #000000; /* 16進数カラーコード */
					}
					